<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 bg-dark">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
            <a class="btn text-light">
              <i class="bi bi-facebook"></i>
            </a>
            <a class="btn text-light">
              <i class="bi bi-twitter"></i>
            </a>
            <a class="btn text-light">
              <i class="bi bi-google"></i>
            </a>
            <a class="btn text-light">
              <i class="bi bi-linkedin"></i>
            </a>
            <a class="btn text-light">
              <i class="bi bi-instagram"></i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="text-center py-3">
      <a href="https://docs.invert.dev"> Help</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->