<div class="btn-group" dropdown>
    <button id="button-animated" dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle"
        aria-controls="dropdown-animated">
        {{dropdownText$ | async}} <span class="caret"></span>
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
        <li role="menuitem"><button (click)="updateState('Banner')" class="dropdown-item">Banner</button></li>
        <li role="menuitem"><button (click)="updateState('Popup')" class="dropdown-item" href="#">Popup</button></li>
        <li role="menuitem"><button (click)="updateState('Marketing')" class="dropdown-item" href="#">Marketing</button></li>
        <li role="menuitem"><button (click)="updateState('Login')" class="dropdown-item" href="#">Login</button></li>
    </ul>
</div>