<div
    *ngIf="(!currentMessages || !currentMessages.length) && (!upcomingMessages ||!upcomingMessages.length) && (!pastMessages||!pastMessages.length)">
    No Messages.
</div>

<div class="row alert alert-success">Active</div>
<div class="row border">
    <div class="col-sm-1">
        ID
    </div>
    <div class="col-sm-1">
        Type
    </div>
    <div class="col-sm-2">
        Title
    </div>
    <div class="col-sm-3">
        Sunrise
    </div>
    <div class="col-sm-3">
        Sunset
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row" *ngFor="let item of currentMessages">
    <div class="col-sm-1">
        {{item.id}}
    </div>
    <div class="col-sm-1">
        {{item.type}}
    </div>
    <div class="col-sm-2">
        <p>{{item.title}}</p>
    </div>
    <div class="col-sm-3">
        {{item.startdate| amDateFormat:'MMM Do YYYY, h:mm a'}}
    </div>
    <div class="col-sm-3">
        {{item.enddate| amDateFormat:'MMM Do YYYY, h:mm a'}}
    </div>
    <div class="col-sm-2">
        <button class="btn btn-link" routerLink="/new/{{item.type}}/{{item.id}}">edit</button>
        <button class="btn btn-link text-danger" (click)="DeleteMessage(item)">delete</button>
    </div>
</div>
<br/>
<div class="row alert alert-warning">Upcoming</div>
<div class="row border">
    <div class="col-sm-1">
        ID
    </div>
    <div class="col-sm-1">
        Type
    </div>
    <div class="col-sm-2">
        Title
    </div>
    <div class="col-sm-3">
        Sunrise
    </div>
    <div class="col-sm-3">
        Sunset
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row" *ngFor="let item of upcomingMessages">
    <div class="col-sm-1">
        {{item.id}}
    </div>
    <div class="col-sm-1">
        {{item.type}}
    </div>
    <div class="col-sm-2">
        <p>{{item.title}}</p>
    </div>
    <div class="col-sm-3">
        {{item.startdate| amDateFormat:'MMM Do YYYY, h:mm a'}}
    </div>
    <div class="col-sm-3">
        {{item.enddate| amDateFormat:'MMM Do YYYY, h:mm a'}}
    </div>
    <div class="col-sm-2">
        <button class="btn btn-link" routerLink="/new/{{item.type}}/{{item.id}}">edit</button>
        <button class="btn btn-link text-danger" (click)="DeleteMessage(item)">delete</button>
    </div>
</div>
<br/>
<div class="row alert alert-danger">Past</div>
<div class="row border">
    <div class="col-sm-1">
        ID
    </div>
    <div class="col-sm-1">
        Type
    </div>
    <div class="col-sm-2">
        Title
    </div>
    <div class="col-sm-3">
        Sunrise
    </div>
    <div class="col-sm-3">
        Sunset
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row" *ngFor="let item of pastMessages">
    <div class="col-sm-1">
        {{item.id}}
    </div>
    <div class="col-sm-1">
        {{item.type}}
    </div>
    <div class="col-sm-2">
        {{item.title}}
    </div>
    <div class="col-sm-3">
        {{item.startdate | amDateFormat:'MMM Do YYYY, h:mm a'}}
    </div>
    <div class="col-sm-3">
        {{item.enddate | amDateFormat:'MMM Do YYYY, h:mm a'}}
    </div>
    <div class="col-sm-2">
        <button class="btn btn-link" routerLink="/new/{{item.type}}/{{item.id}}">edit</button>
        <button class="btn btn-link text-danger" (click)="DeleteMessage(item)">delete</button>
    </div>
</div>