<div class="row">
    <div class="input-group mb-3">
        <ng-template contextDisposer="blobId" let-control="blobId">
            <input *ngIf="control" [(ngModel)]="blobId" [formControl]="control" class="form-control" type="text">
        </ng-template>
        <div class="control-fileupload">
            <input #file (click)="file.value = null" (change)="imageChanged($event); filename = $event.target.files[0].name;" type="file" class="custom-file-input" id="image-upload" accept=".png, .jpg, .jpeg, .gif" aria-describedby="image-upload-label">
            <label id="image-upload-label" class="custom-file-label" for="image-upload">{{filename?filename:"Select Image"}}</label>
        </div>
        <img style="width: 70%;" *ngIf="imageUrl" [src]="imageUrl?domSanitizer.bypassSecurityTrustResourceUrl(imageUrl):null" />
    </div>
</div>